/* Général */
body {
    font-family: Arial, sans-serif;
    background: #141414;
    color: white;
    margin: 0;
    padding: 0;
  }
  
  /* Arbre */
  #tree-container {
    width: 60%;
    height: 100vh;
    float: left;
    background: #222;
    padding: 10px;
  }
  
  /* Conteneur pour le formulaire */
  #form-container {
    float: right;
    width: 40%;
    background: #333;
    padding: 20px;
    border-left: 2px solid #555;
    height: 100vh;
  }
  
  .form-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .form-close {
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Styles pour le formulaire */
  form {
    margin-top: 20px;
  }
  
  input,
  select {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    border: none;
    border-radius: 5px;
  }
  
  /* Section Contrôle */
  .controls {
    background: #222;
    padding: 10px;
    text-align: center;
  }
  
  button {
    padding: 10px;
    color: white;
    border: none;
    background: pink;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
  }
  